.error-message{
    color: $font-color;
    text-transform: capitalize;
    font-size: 20px;
}

.city-name{
    font-size: 26px;
}

.current-weather{
    font-size: 50px;
    font-weight: bold;
}

.range-weather{
    font-size: 20px;
}

.other-text{
    font-size: 15px;
}