// Configs
@import './config/color.scss';

// Components
@import './components/animation.scss';
@import './components/button.scss';
@import './components/card.scss';
@import './components/inputs.scss';
@import './components/text.scss';

body {
    background-color: grey;
    color: $font-color !important;
}

.app-body {
    min-width: 100% !important;
    min-height: 100vh !important;
}

.cold-day {
    min-height: 100vh;
    background-image: url("../assets/img/cold_day.jpg");
    background-color: #55c4d4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sunny-day {
    min-height: 100vh;
    background-image: url("../assets/img/sunny_day.jpg");
    background-color: #55c4d4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.template-day {
    min-height: 100vh;
    background-image: url("../assets/img/template_day.jpg");
    background-color: #55c4d4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}